body {
  background-color: #ad6989;
}
.header
{
background-color:#ffa299;
   margin-left: 25%;
  margin-top: 0;
  width: 500px;
  height: 150px;
}
.header-content
{
  margin-left: 30%;
 margin-top: 0;
padding-top: 5px;
}
.imgcenter
 {
  margin-left: 15%;
 margin-top: 0;
}
.main {
  margin-left: 25%;
 margin-top: 0;
 width: 500px;
  background-color: brown;
  padding-left: 10px;
}
.smallfont {
  color: #9A1F40;
  font-family: serif;
  font-size: 10px;
}
